<select (change)="onChange($event.target.value)" class="filter">
  <option value="all">Show All</option>
  <option value="empty">Blown Kegs</option>
  <option value="notEmpty">Tapped Kegs</option>
</select><br><br>



<keg-display *ngFor="#currentKeg of kegList | empty: filterType"
  (click)="kegClicked(currentKeg)"
  [class.selected]="currentKeg === selectedKeg"
  [keg]="currentKeg">
</keg-display>


<show-keg-progress *ngIf="selectedKeg" [keg]="selectedKeg">
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>
</show-keg-progress>

<!-- <edit-keg-details *ngIf="selectedKeg" [keg]="selectedKeg">
</edit-keg-details> -->
<new-keg (onAddNewKeg)="createKeg($event)"></new-keg>
