body {
  background-color: grey;
}

.filter {
  font-size: 16px;
}

input {
  font-size: 20px;
  margin-bottom: 4px;
}

keg-list {
  font-size: 20px;
}

select {
  width: 100%;
}

.jumbotron {
  text-align: center;
}

.col-md-6 {
  padding-left: 50px;
}

.progress {
  height: 30px;

}

.add-button {
  margin-top: 20px;
}

.barfont {
  margin-top: 5px;
  font-size: 20px;
  color: grey;
}
.progress-bar {
  background-image: url(/resources/imgs/beer.jpg);
  background-repeat: no-repeat;
}
